<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sleep Cycle Alarm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Cycle Alarm</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button shape="round" fill="outline" (click)=calculateTime()>ZZZ</ion-button>
    <ion-grid *ngIf="time_array.length > 1">
      <ion-row *ngFor="let time of time_array; let i = index">
        <ion-col ion-text text-center color="dark">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ time }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
